@media only screen and (max-width: 992px) {
	.top-bar .float-right{
		display: none;
	}
	.row.clearfix{
		display: block;
	}
	.top-bar .float-left{
		width: 100%;
		text-align: center;
	}
	.main-slider .main-slider-five .content {
		width: 100%;
	}
	.nav-item.active {
		overflow: hidden;
	}
	.home-page-one .main-slider h1 span{
		font-size: 32px;
		line-height: 50px;
	}
}

@media only screen and (max-width: 768px) {
	/*--------main-slider--------*/
	.main-slider .content {
		width: 100%!important;
	}
	.home-page-one .main-slider h1 {
		font-size: 26px;
		line-height: 36px;
		margin-bottom: 0px;
	}
	.home-page-one .main-slider .text {
		font-size: 14px;
		line-height: 24px;
	}
	.home-page-one .main-slider .theme-btn {
		line-height: 35px;
		min-height: 35px;
		font-size: 14px;
	}
	.home-page-one .main-slider .text {
		margin-bottom: 20px;
		margin-right: 0px
	}
	.home-page-one .main-slider h1 {
		font-size: 26px;
		line-height: 36px;
		margin-bottom: 0px;
	}
	.home-page-one .main-slider .slide {
		padding: 190px 0px 0px!important;
	}
	.home-page-two .main-slider h1 {
		font-size: 26px;
		line-height: 36px;
		margin-bottom: 0px;
	}
	.home-page-two .main-slider .text {
		font-size: 14px;
		line-height: 24px;
	}
	.home-page-two .main-slider .theme-btn {
		line-height: 35px;
		min-height: 35px;
		font-size: 14px;
	}
	.home-page-two .main-slider .text {
		margin-bottom: 20px;
		margin-right: 0px
	}
	.home-page-two .main-slider h1 br {
		display: none;
	}
	.home-page-two .main-slider .slide {
		padding: 190px 0px 0px!important;
	}
	.home-page-four .main-slider h1 {
		font-size: 26px;
		line-height: 36px;
		margin-bottom: 0px;
	}
	.home-page-four .main-slider .text {
		font-size: 14px;
		line-height: 24px;
	}
	.home-page-four .main-slider .theme-btn {
		line-height: 35px;
		min-height: 35px;
		font-size: 14px;
	}
	.home-page-four .main-slider .text {
		margin-bottom: 20px;
		margin-right: 0px
	}
	.home-page-four .main-slider h1 br {
		display: none;
	}
	.home-page-four .main-slider .slide {
		padding: 250px 0px 0px!important;
	}
	.home-page-five .main-slider h1 {
		font-size: 26px;
		line-height: 36px;
		margin-bottom: 0px;
	}
	.home-page-five .main-slider .text {
		font-size: 14px;
		line-height: 24px;
	}
	.home-page-five .main-slider .theme-btn {
		line-height: 35px;
		min-height: 35px;
		font-size: 14px;
	}
	.home-page-five .main-slider .text {
		margin-bottom: 20px;
		margin-right: 0px
	}
	.home-page-five .main-slider h1 br {
		display: none;
	}
}


/*--------540-----------*/

@media only screen and (max-width: 540px) {
	/*--------main-slider--------*/
	.home-page-one .main-slider h1 {
		font-size: 22px!important;
		line-height: 28px;
		margin-bottom: 0px;
	}
	.home-page-one .main-slider .text {
		font-size: 12px;
		line-height: 22px;
	}
	.home-page-one .main-slider .theme-btn {
		line-height: 35px;
		min-height: 35px;
		font-size: 12px;
	}
	.home-page-one .main-slider .text {
		margin-bottom: 15px;
	}
	.home-page-one .main-slider .text {
		font-size: 14px;
	}
	.home-page-one .main-slider .slide {
		padding: 80px 0px 0px!important;
	}
	.home-page-two .main-slider h1 {
		font-size: 22px!important;
		line-height: 28px;
		margin-bottom: 0px;
	}
	.home-page-two .main-slider h1 br {
		display: none;
	}
	.home-page-two .main-slider .text {
		font-size: 12px;
		line-height: 22px;
	}
	.home-page-two .main-slider .theme-btn {
		line-height: 35px;
		min-height: 35px;
		font-size: 12px;
	}
	.home-page-two .main-slider .text {
		margin-bottom: 15px;
	}
	.home-page-two .main-slider .text {
		font-size: 14px;
	}
	.home-page-two .main-slider .text {
		padding-right: 0px;
	}
	.home-page-two .main-slider .slide {
		padding: 100px 0px 0px!important;
	}
	.home-page-four .main-slider h1 {
		font-size: 22px!important;
		line-height: 28px;
		margin-bottom: 0px;
	}
	.home-page-four .main-slider h1 br {
		display: none;
	}
	.home-page-four .main-slider .text {
		font-size: 12px;
		line-height: 22px;
	}
	.home-page-four .main-slider .theme-btn {
		line-height: 35px;
		min-height: 35px;
		font-size: 12px;
	}
	.home-page-four .main-slider .text {
		margin-bottom: 15px;
	}
	.home-page-four .main-slider .text {
		font-size: 14px;
	}
	.home-page-four .main-slider .text {
		padding-right: 0px;
	}
	.home-page-four .main-slider .slide {
		padding: 150px 0px 0px!important;
	}
	.home-page-five .main-slider h1 {
		font-size: 22px!important;
		line-height: 28px;
		margin-bottom: 0px;
	}
	.home-page-five .main-slider h1 br {
		display: none;
	}
	.home-page-five .main-slider .text {
		font-size: 12px;
		line-height: 22px;
	}
	.home-page-five .main-slider .theme-btn {
		line-height: 35px;
		min-height: 35px;
		font-size: 12px;
	}
	.home-page-five .main-slider .text {
		margin-bottom: 15px;
	}
	.main-slider .active h4 {
		font-size: 14px!important;
		line-height: 24px;
	}
	.home-page-five .main-slider .text {
		font-size: 14px;
	}
	.home-page-five .main-slider .text {
		padding-right: 0px;
	}
	.home-page-five .main-slider .slide {
		padding: 150px 0px 0px!important;
	}
}


/*--------1200-----------*/

@media only screen and (max-width: 1200px) {
	/*------------.department_inner---------------*/
	.department_inner .department_icon_content {
		width: 33.33%;
	}
}


/*--------992-----------*/

@media only screen and (max-width: 992px) {
	/*------------bsnav-----------*/
	.bsnav-mobile .navbar-nav .nav-item .nav-link {
		max-width: inherit;
		width: 100%;
	}
	/*------------.department_inner---------------*/
	.department_inner .department_icon_content {
		width: 50%;
		padding: 35px;
	}
	/*------------------appointment_inner-----------*/
	.appointment_inner {
		padding: 40px 30px 10px;
	}
	.appont_sec_inner {
		padding-bottom: 30px;
	}
}


/*--------992-----------*/

@media only screen and (max-width: 992px) {
	/*--------main-slider--------*/
	.doc_community .mak_appointment {
		float: none;
		text-align: center;
	}
	.doc_community_text {
		float: none;
		text-align: center;
		margin-bottom: 10px;
	}
}


/*--------540-----------*/

@media only screen and (max-width: 540px) {
	/*------------.department_inner---------------*/
	.department_inner .department_icon_content {
		width: 100%;
		padding: 35px;
	}
	/*-----------------recent-tags-------------------*/
	.recent-tags .card-header .btn .main {
		top: 13px;
	}
	.department_section .heading p a {
		line-height: 30px;
	}
	.theme-btn {
		font-size: 12px!important;
		min-height: 36px;
		line-height: 36px;
	}
	.appont_sec_inner h6 {
		font-size: 14px!important;
	}
	.appont_sec_inner ul li {
		font-size: 14px;
	}
	.department_section {
		padding: 90px 0px;
	}
	.welcome_section {
		padding: 90px 0px 95px;
	}
	.doc_community {
		padding: 50px 0px;
	}
	.welcome_section ul li img {
		margin-bottom: 20px;
		width: 80%;
	}
	.testimonial_sec.hm-one .owl-carousel .owl-nav {
		top: -70px;
	}
	.testimonial_sec.hm-one .owl-carousel .owl-nav .owl-prev span,
	.testimonial_sec.hm-one .owl-carousel .owl-nav .owl-next span {
		padding: 9px 15px;
		width: 35px;
		height: 35px;
	}
	.best-doctors .owl-carousel .owl-nav .owl-prev span,
	.best-doctors .owl-carousel .owl-nav .owl-next span {
		padding: 9px 15px;
		width: 35px;
		height: 35px;
	}
	#scroll {
		width: 35px;
		height: 35px;
	}
}

@media only screen and (max-width: 380px) {
	.theme-btn {
		min-width: inherit!important;
	}
	.best-doctors .owl-carousel .owl-nav {
		top: 0px!important;
		position: relative;
		text-align: center;
		width: 100%;
	}
	.testimonial_sec.hm-one .owl-carousel .owl-item img {
		margin: 0 auto;
	}
	.appont_sec_inner .theme-btn {
		padding: 0px;
	}
	.main-slider .slide {
		padding-top: 50px;
	}
}

/*------------------------------innerpages--------------------------*/


/*---breadcrumb----*/

@media (max-width: 540px) {
	.breadcrumb-item a {
		font-size: 14px;
	}
	.breadcrumb-item.active {
		font-size: 14px;
	}
	.ban-bread-crumb {
		height: inherit;
	}
}

@media (max-width: 1199px) {
	/*------------------ Department listing-------------------------*/
	.department_listing .department_list_inner .image {
		float: none;
	}
	.department_listing .li_dp_content {
		margin-left: 0px;
		min-height: inherit;
	}
	.department_listing .li_dp_content {
		padding: 40px;
	}
	.department_listing .li_dp_content a.read_ {
		position: relative;
		bottom: inherit;
	}
	.single_doctors .quick_profile ul li {
		word-break: break-word;
	}
}

@media (max-width: 992px) {
	/*------------------ departmet_sidebar_left-------------------------*/
	.departmet_sidebar_left {
		margin-right: 0px;
	}
	.department_with_sidebar .working_hours ul li {
		word-break: break-word;
	}
	.case-grid-section .filter-group ul li {
		margin: 0px;
	}
	.blog-grid-section .filter-group ul li {
		margin: 0px;
	}
	.single_doctors_left {
		margin: 0px;
	}
	.single_doctor_right .contact_social_media.text-right {
		text-align: left!important;
		margin-bottom: 30px;
	}
	.single_doctor_right .heading.mg_btm {
		margin-bottom: 0px!important;
	}
}

@media (max-width: 768px) {
	.case-grid-section .filter-group ul li {
		display: block;
	}
	.blog-grid-section .filter-group ul li {
		display: block;
	}
	.case-grid-section .filter-group ul li:first-child {
		padding-left: 10px;
	}
	.before_after_treatment.single_page .gallery_typone-inner .gallery_typone-image {
		margin-bottom: 5px;
	}
	.blog-grid-section .filter-group ul li:first-child {
		padding-left: 10px;
	}
}

@media (max-width: 540px) {
	/*------------------.department_gdthre_column-------------------------*/
	.department_gdthre_column {
		padding: 90px 0px 40px;
	}
	.department_gd_inner {
		margin-bottom: 30px;
	}
	.department_gd_inner .dp_content a.read_ {
		font-size: 12px;
		line-height: 20px;
	}
	/*------------------.department_gdfour_column-------------------------*/
	.department_gdfour_column {
		padding: 90px 0px 40px;
	}
	/*------------------ Department listing-------------------------*/
	.department_listing {
		padding: 90px 0px 40px;
	}
	.department_listing .li_dp_content a.read_ {
		font-size: 12px;
	}
	.department_listing .li_dp_content {
		padding: 25px;
	}
	/*------------------department_with_icon-------------------------*/
	.department_with_icon {
		padding: 90px 0px ;
	}
	/*------------------ departmet_sidebar_left-------------------------*/
	.department_with_sidebar {
		padding: 90px 0px 60px;
	}


	.head_of_dp .head_content a {
		font-size: 12px;
	}
	.head_of_dp .head_image {
		margin-top: 30px;
		display: inline-block;
	}
	.accordion.dep_faq .btn-link {
		font-size: 16px;
		line-height: 24px;
	}
	.accordion.dep_faq .card-body {
		font-size: 14px;
		line-height: 22px;
	}
	
	.dp_case_study .heading {
		margin-bottom: 0px!important;
	}
	.dp_case_study .owl-nav {
		display: none!important;
	}
	.preventions ul li {
		font-size: 14px;
		line-height: 22px;
	}
	.type_treatment ul li {
		font-size: 14px;
		line-height: 22px;
	}
	.head_of_dp .head_content ul li {
		font-size: 14px;
		line-height: 22px;
	}
	.dp_banner {
		min-height: 500px;
	}
	/*------------.case-grid-section----------*/
	.case-grid-section {
		padding: 90px 0px 50px;
	}
	/*--------.before_after_treatment.single_page---------*/
	.before_after_treatment.single_page {
		padding: 90px 0px;
	}
	.patients_details .patients_content {
		width: 16.6667%;
		width: calc(100% / 2);
	}
	.before_after_treatment.single_page #lightgallerytwo {
		padding-bottom: 50px;
	}
	.before_after_treatment.single_page .testmonila_single_case {
		padding: 80px 0px;
	}
	.testimonial_sec.hm-one {
		padding: 90px 0px 70px;
	}
	/*----.contact_address----*/
	.contact_address {
		padding: 90px 0px;
	}

	/*--------.single_doctors ------------*/
	.single_doctors .quick_profile ul li {
		font-size: 14px;
		line-height: 22px;
	}
	.single_doctor_content .simple_text ul li {
		font-size: 14px;
		line-height: 22px;
	}
	.single_doctors .simple_text ul li::after {
		top: 5px;
	}
	.single_doctors .simple_text ul li::before {
		top: 7px;
	}
	.single_doctors .testimonial_sec.hm-one .owl-carousel .owl-nav .owl-prev span,
	.single_doctors .testimonial_sec.hm-one .owl-carousel .owl-nav .owl-next span {
		padding: 12px 11px;
		font-weight: 700;
	}
	.single_doctors .simple_text {
		padding-bottom: 70px;
	}
	.single_doctors_left{ margin-bottom: 70px;}
	.single_doctors .testimonial_sec.hm-one {
		padding: 70px 0px
	}
	.single_doctors {
		padding: 90px 0px 70px;
	}
	.book_appointment .form-group.ck_box {
		margin-bottom: 0px;
	}
	.book_appointment .theme-btn {
		margin-bottom: 50px;
	}
	.contact_address.book_appointment {
		padding-bottom: 20px;
	}
	.time_table {
		padding: 90px 0px;
	}
	.faq_s {
		padding: 90px 0px 70px;
	}
	.faq_s .btn-link {
		font-size: 16px;
	}
	.faq_s .card-body {
		font-size: 14px;
		line-height: 22px;
	}
	.blog-grid-section {
		padding: 90px 0px 50px;
	}
	.blog-sidebar-section {
		padding: 90px 0px 50px;
	}
	.blog-grid-section .blog-grid-inner .blog-grid-content a.rd-more {
		font-size: 12px;
		line-height: 20px;
	}
	.pagination li a {
		padding: 10px 5px;
		font-size: 12px;
	}
	.sidebar_md_one .categories ul li a {
		font-size: 14px;
	}
	.tag_cloud .tags a {
		font-size: 14px;
	}
	.blog_right_single .blog-single-inner .blog-content a.rd-more {
		font-size: 12px;
	}
	.blog_right_single .blog-single-inner .blog-content h2,
	.blog_right_single .blog-single-inner .blog-content h2 a {
		line-height: 26px;
	}
	.pagination {
		text-align: center;
		display: block;
	}
	.blog-single-section {
		padding: 90px 0px 70px;
	}
	.blog_single_post_right .blog-content h2 a {
		line-height: 26px;
	}
	.blog_single_post_right .blog-content h2 {
		line-height: 26px;
	}
	.tage_and_share .tags {
		float: none;
	}
	.tage_and_share .share {
		float: none;
	}
	.tage_and_share .share ul li {
		margin: 10px 0px 0px 0px;
	}
	.suggesstions .popular_articles_content h6 a {
		font-size: 16px;
		line-height: 26px;
	}
	.suggesstions .popular_articles_content a.read_ {
		font-size: 12px;
	}
	.blog_single_post_img_ {
		margin-bottom: 30px
	}
	.authour_quotes {
		margin-bottom: 20px;
	}

	.authour_testimonial {
		padding: 50px 0px;
		margin-bottom: 70px;
	}
	.suggesstions {
		padding-bottom: 20px;
	}
	.comments {
		padding: 70px 0px 20px;
	}
	.leave_reply {
		padding: 70px 0px 20px;
	}
	.shop_ {
		padding: 70px 0px;
	}
	.shop_left_bar .categories ul li a {
		font-size: 14px;
	}
	.product_details_outer {
		padding: 80px 0px 40px;
	}
	.product_details_outer .tab-content>.tab-pane {
		padding: 20px 0px;
	}
	.product_details_outer .tab-content>.tab-pane ul.first {
		float: none;
	}
	.product_details_outer .tab-content>.tab-pane ul.second {
		float: none;
	}
	.product_details_outer .tab-content>.tab-pane ul li {
		font-size: 14px;
	}
	.product_details_outer .products_caro {
		padding-top: 70px;
	}
	.product_details_nav_tabs{ padding-bottom: 50px;}
	.products_caro .owl-nav {
		display: none;
	}
	.shop_cart_ {
		padding: 90px 0px;
	}
	.shop_cart_ .continue_shopping {
		margin-bottom: 30px;
	}
	.cart_btns.text-right {
		text-align: left!important;
	}
	.shop_cart_ .coupon_discount button {
		margin-bottom: 30px;
	}
	.shop_cart_ .sub_total .top li,
	.shop_cart_ .sub_total .top li:last-child {
		font-size: 16px;
	}
	.shop_cart_ .total ul li,
	.shop_cart_ .total ul li:last-child {
		font-size: 16px;
	}
	.Checkout_ {
		padding: 90px 0px;
	}
}